################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgeCalculator/.vs/AgeCalculator/v15/Server/sqlite3
